.editWindow{
    display: flex;
    background-color: #DDD;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row

}
.behaviorCard{
    display: flex;
    max-height: 25em;
    margin-bottom: 1em

    
    

}
.inputsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 25em;
    justify-content: space-around;
}
.cardTitle{
    display: flex;
    justify-content: center;

    border-radius: 3em;

}
.title{
    text-align: center;
    color: white;
    background-color: #777;
    border-radius: 5em;
    padding: .5em 4em;
    margin-top: -3em;
    margin-bottom: 1em


}

.buttonContainer{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
