.studentBehaviorsForm{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: grey;
    margin: 0 auto;
    
    
    
}
.columns{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.inputColumn{
    width: 100%;

}
.inputText{
    width: 75%;
    margin: 0 auto;
}
.inputName, .onTask{
    width: 100%;
}