.editWindow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: 3em;
    margin: 0 auto;
    padding: 1em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #DDD;
    
}
.addContainer{
    display: flex;
    width: 80vw;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto

}
.nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5em
}
.studentName{
    width: 80%;
    padding-left: 2em;
    height: 2em;
    border-radius: .5em;
}
.reminderInterval{
    height: 2.2em;
    width: 15%;
    border: white;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}





/* .behaviorCard{
    display: flex;
    max-height: 25em;
    margin-bottom: 1em

    
    

}
.inputsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 25em;
    justify-content: space-around;
}
.cardTitle{
    display: flex;
    justify-content: center;

    border-radius: 3em;

}
.title{
    text-align: center;
    color: white;
    background-color: #777;
    border-radius: 5em;
    padding: .5em 4em;
    margin-top: -3em;
    margin-bottom: 1em


}

.buttonContainer{
    display: flex;
    width: 80vw;
    justify-content: space-between;
} */
